@include vp-767 {
  .accordion {

    &__element:last-child {
      margin-bottom: 0;
    }

    &__element.is-active>&__button {
      opacity: 0.5;
    }

    &__button {
      position: relative;
    }
  }

  .accordion__button-text {

    &::before {
      @include pseudo ();
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: $color-social-icon;
    }

    &::after {
      @include pseudo ();
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1.5px;
      transform: rotate(90deg);
      background-color: $color-social-icon;
    }
  }

  .accordion__element.is-active .accordion__button-text {

    &::before {
      @include pseudo ();
      top: 27px;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: $color-social-icon;
    }

    &::after {
      display: none;
    }
  }
}

.accordion__button-close{
  display: none;
}

.accordion__element.is-active .accordion__button-open{
  display: none;
}

.accordion__element.is-active .accordion__button-close{
  display: inline-block;
}
