.btn {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: inline-flex;
  padding: 10px 15px;

  color: $color-alice-blue-2;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  border-radius: 3px;

  transition: opacity $trans-default;

  &--submit {
    background: $color-black-pearl;
    font-size: 16px;
    line-height: 19px;
    color: $color-default-white;
    padding: 15px 25px 13px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;

    @include vp-1023 {
      padding: 16px 25px 12px 25px;
    }
  }

  &--info {
    color: $color-deep-sky-blue;
    border: 1px solid $color-deep-sky-blue;
    padding: 14px 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include vp-1023 {
      margin-top: 0;
      min-width: auto;
      width: 36.4%;
    }

    @include vp-767 {
      margin-top: 0;
      padding: 8px 15px;
      width: 59.3%;
    }
  }

  &--header {
    border: 1px solid $color-alice-blue-2;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 62px;
    max-width: 250px;

    @include vp-1023 {
      display: none;
      margin-right: 0;
    }
  }

  &--offer {
    background: $color-deep-sky-blue;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 27px;

    @include vp-1023 {
      margin-left: 45px;
      padding: 14px 27px 16px 27px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.05em;
      padding: 12px 30px;
      width: 100%;
      margin-left: 0;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
