.btn {
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  display: inline-flex;
  padding: 10px 15px;

  color: $color-alice-blue-2;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;
  border-radius: 3px;

  transition: opacity $trans-default;

  &--info {
    color: $color-deep-sky-blue;
    border: 1px solid $color-deep-sky-blue;
    padding: 14px 13px;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 180px;
  }

  &--header {
    border: 1px solid $color-alice-blue-2;
    margin-bottom: 9px;
    margin-top: 4px;
    margin-right: 62px;
    margin: auto 0;
    max-width: 250px;

    @include vp-1023 {
      display: none;
    }
  }

  &--offer {
    background: $color-deep-sky-blue;
    font-size: 18px;
    line-height: 21px;
    padding: 15px 25px;

    @include vp-1023 {
      margin-left: 50px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 16px;
      padding: 10px 30px;
      width: 100%;
      margin-left: 0;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}
