.card {
  position: relative;
  min-height: 650px;
  background-color: $color-black-pearl;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.4;
  }

  @include vp-1023 {
    min-height: 250px;
  }

  @include vp-767 {
    min-height: auto;
    max-height: 250px;
  }
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-default-white;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.4;
  }

  &::before {
    @include pseudo();
    width: 60px;
    height: 60px;
    bottom: 0;
    right: 0;
    background-color: $color-deep-sky-blue;
    background-image: url("../img/svg/arrow-right.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 4px 8px;

    @include vp-767 {
      width: 40px;
      height: 40px;
      background-size: 3px 6px;
    }
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 30px;
  }
}

.card__img {
  display: block;
  width: 350px;
  height: 650px;
  object-fit: cover;

  @include vp-1023 {
    width: 923px;
    height: auto;
  }

  @include vp-767 {
    width: 717px;
    height: auto;
    max-height: 250px;
  }
}

.card__text {
  position: absolute;
  top: 50px;
  left: 40px;
  max-width: 77.1%;

  @include vp-1023 {
    top: 40px;
    left: 45px;
    max-width: 86.5%;
  }

  @include vp-767 {
    top: 25px;
    left: 30px;
    max-width: 77.7%;
  }
}

.card__text-part {
  &--br {
    br {
      display: none;
    }

    @include vp-1023 {
      br {
        display: inline;
      }
    }
  }

  &--br-mobile {
    @include vp-1023 {
      br {
        display: none;
      }
    }
  }
}
