.company-info__wrapper {
  display: grid;
  grid-template-columns: 20.5% 79.5%;
  // margin-bottom: 100px;
}

.company-info__wrapper h2 {
  margin: 0;
  margin-bottom: 15px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
}

.company-info__wrapper p {
  margin: 0;
  padding-bottom: 25px;
}

.company-info__btn-text {
  margin: auto;
}
