.custom-toggle {
  position: relative;

  &.is-invalid {
    label span {
      color: #ff0000;
      line-height: 22px;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -55px;
    font-size: 14px;

    &.is-invalid {
      color: #ff0000;
      line-height: 22px;
    }
  }
}
