.footer {
  background: $color-default-black;
  min-height: 280px;
  padding-top: 50px;
  padding-bottom: 55px;

  @include vp-1023 {
    min-height: 465px;
    padding-top: 50px;
    padding-bottom: 65px;
  }

  @include vp-767 {
    min-height: 475px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer__container-paddings {
  @include vp-767 {
    padding: 0 25px;
    min-width: $vp-320;
  }
}

.footer__wrapper {
  width: 17.6%;

  @include vp-1023 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 35px;
  }

  @include vp-767 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  max-width: $vp-1920;
  width: 100%;
  margin: 0 auto;
  padding: 0 350px;

  @include vp-1699 {
    padding: 0 200px;
  }

  @include vp-1439 {
    padding: 0 120px;
  }

  @include vp-1279 {
    padding: 0 60px;
  }

  @include vp-1023 {
    padding: 0 50px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.footer__logo-link {
  display: inline-block;
  margin-bottom: 30px;
  width: 215px;
  height: 55px;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  @include vp-1023 {
    margin-bottom: 0;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 40px);
  gap: 15px;
}

.footer__social-list-item {
  height: 40px;
}

.footer__social-list-icon {
  color: $color-social-icon;
}

.footer__social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &:hover .footer__social-list-icon,
  &:focus .footer__social-list-icon {
    color: $color-deep-sky-blue;
  }

  &:active .footer__social-list-icon {
    color: $color-deep-sky-blue;
    opacity: 0.5;
  }
}

.footer__contacts {
  color: $color-text-footer;
  padding-top: 5px;
  margin-bottom: 10px;

  @include vp-767 {
    border-bottom: 1px solid $color-border;
    padding-top: 0;
    margin-bottom: 0;
  }

  &--nav {
    width: 38.5%;

    @include vp-1023 {
      width: 52.2%;
    }

    @include vp-767 {
      width: 100%;
      border-top: 1px solid $color-border;
    }
  }

  &--address {
    width: 28.3%;

    @include vp-1023 {
      width: 47.8%;
    }

    @include vp-767 {
      width: 100%;
    }
  }
}

.footer__contacts-title {
  margin: 0;
  margin-bottom: 20px;
  font-family: $ff-roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  background-color: $color-transparent;
  border: none;

  @include vp-767 {
    margin: 0;
    padding: 20px 0;
    width: 100%;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.footer__contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &--nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 130px;
    overflow: hidden;

    @include vp-1023 {
      max-height: 0;
      height: auto;
    }

    @include vp-767 {
      flex-wrap: nowrap;
    }
  }
}

.footer__contacts-list-item:not(:last-child) {
  padding-bottom: 10px;
}

.footer__contacts-list-item:last-child {
  @include vp-767 {
    margin-bottom: 20px;
  }
}

.footer__contacts-list-item {

  @include vp-1023 {
    padding-right: 0;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  &--nav {
    max-width: 210px;
    margin-right: 10px;
  }
}

.footer__contacts-list-link {
  color: $color-text-footer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 19px;
  }

  &--phone {
    line-height: 25px;

    @include vp-767 {
      font-size: 14px;
    }
  }
}
